services:
  auth:
    build:
      context: .
      dockerfile: src/Dockerfile
    container_name: smv-auth
    restart: always
    ports:
      - "4001:4001"
    depends_on:
      - mongo
    command: [ "npm","start" ]

    develop:
      watch:
        - action: rebuild
          path: .
          target: .

  mongo:
    image: mongo:latest
    container_name: smv-auth-db
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - ./database/init.js:/docker-entrypoint-initdb.d/init.js