<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
<h1>Dashboard</h1>
<p>Welcome, <span id="username"></span>!</p>
<button id="logout">Logout</button>
<script>
    const fetchProfile = async () => {
        const token = localStorage.getItem('authToken');
        console.log('Token from localStorage:', token);

        const response = await fetch('/api/profile', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `${token}`
            },
        });
        const result = await response.json();
        console.log('Profile response:', result);
        if (result.status) {
            document.getElementById('username').textContent = result.username;
        } else {
            window.location.href = '/login'; // Redirect to login if not authenticated
        }
    };

    document.getElementById('logout').onclick = async () => {
        // remove token
        localStorage.removeItem('authToken');
        window.location.href = '/login'; // Redirect to login
    };

    fetchProfile();
</script>
</body>
</html>
